.container {
    color: white;
    /* min-height:100%;
    background-image: linear-gradient(90deg, rgba(110, 94, 254) 0%, rgba(73, 63, 252, 1) 100%); */
}

/* .appointments-table {
    grid-template-columns: repeat(6, 1fr);
} */
table {
    min-width: 100vw;
    width: auto;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 
      minmax(150px, 1fr)
      minmax(150px, 1.67fr)
      minmax(150px, 3.33fr)
      minmax(150px, 1.67fr)
      minmax(150px, 1fr)
      minmax(150px, 1fr)
}
  
@media screen and (max-width: 769px) {
    table {
        grid-template-columns: 
        minmax(100px, 1fr)
        minmax(100px, 1.67fr)
        minmax(100px, 4fr)
        minmax(100px, 1.67fr)
        minmax(100px, 1fr)
        minmax(100px, 1fr)
    }
}

  thead,
  tbody,
  tr {
    display: contents;
  }
  
  th,
  td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
    position: relative;
  }
  
  th:last-child {
    border: 0;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
  }
  
  tr:nth-child(even) td {
    background: #f8f6ff;
  }